body {
  background-color: #ffc8a8;
}

h1 {
  font-family: "ivyepic", sans-serif;
  color: red;
  font-weight: 600;
  font-style: normal;
}

h2 {
}

p {
  font-family: mr-eaves-sans, sans-serif;
  color: red;
  font-weight: 300;
  font-style: normal;
}
