---
// import SiteHeader from "../components/SiteHeader.astro";
// import AboutVideo from "../components/AboutVideo.astro";
// import AboutSection from "../components/AboutSection.astro";
// import AboutContactInfo from "../components/AboutContactInfo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h2>About</h2>
</MainLayout>
