---
// import SiteHeader from "../components/SiteHeader.astro";
// import AboutVideo from "../components/AboutVideo.astro";
// import AboutSection from "../components/AboutSection.astro";
// import AboutContactInfo from "../components/AboutContactInfo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h2>About</h2>

  <div class="squarecontainer">
    <div class="square"></div>
  </div>

  <div class="videocontainer">
    <video class="video" controls>
      <source src="public/video/testvideo.mp4" type="video/mp4" />
    </video>
  </div>
</MainLayout>

<style>
  /* video */
  .videocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100px;
  }

  .video {
    max-width: 450px;
    max-height: 500px;
    margin-bottom: 640px;
  }
  /* gul firkant:*/
  .squarecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .square {
    width: 350px;
    height: 320px;
    border: 3px solid var(--secondary);
  }

  @media (min-width: 800px) {
    .video {
      max-width: 1600px; /* Adjust the width as needed */
      max-height: 700px; /* Adjust the height as needed */
      height: auto; /* Let the height adjust proportionally */
      top: 200px; /* Position it at the top */
    }
    .videocontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      height: 100px;
    }
    .square {
      display: none;
    }
  }
</style>
