---
import GalleryBox from "../components/GalleryBox.astro";
import SiteHeader2 from "../components/SiteHeader2.astro";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch("https://frfmfnmwnltkmnlwhciw.supabase.co/rest/v1/gallery", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyZm1mbm13bmx0a21ubHdoY2l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0MDYzNDgsImV4cCI6MTk5OTk4MjM0OH0.V3uFzN9XdkUcR0J0uVy7DJG-lYVXGe84JyIA1YqJ3VQ",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout title="Galleri">
  <SiteHeader2 title="GALLERY" />

  <div class="yellowcontainer">
    <div class="yellow"></div>
  </div>

  <div class="container">
    {
      data.map((show) => {
        return <GalleryBox data={show} />;
      })
    }
  </div>
</MainLayout>

<style>
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 670px;
    position: relative;
    width: 50%;
    margin-inline: auto;
  }

  .yellowcontainer {
    display: flex;
    justify-content: center;
  }
  .yellow {
    border: 3px solid var(--secondary);
    margin-top: 6rem;
    width: 630px;
    height: 470px;
    position: absolute;
  }

  @media only screen and (max-width: 800px) {
    .yellow {
      margin-top: 6.8rem;
      width: 375px;
      height: 330px;
    }

    .container {
      height: 430px;
      margin-bottom: 4rem;
      margin-top: 3.5rem;
      width: 100%;
    }
  }
</style>
