---
import GalleryBox from "../components/GalleryBox.astro";
import GalleryBox2 from "../components/GalleryBox2.astro";
import SiteHeader from "../components/SiteHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch("https://frfmfnmwnltkmnlwhciw.supabase.co/rest/v1/gallery", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyZm1mbm13bmx0a21ubHdoY2l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0MDYzNDgsImV4cCI6MTk5OTk4MjM0OH0.V3uFzN9XdkUcR0J0uVy7DJG-lYVXGe84JyIA1YqJ3VQ",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <h1>Gallery</h1>

  <!-- <GalleryBox2 /> -->

  <div class="yellow"></div>
  <section class="test">
    {
      data.map((show) => {
        return <GalleryBox data={show} />;
      })
    }
  </section>
</MainLayout>

<style>
  section {
    height: 700px;
    overflow: hidden;
    overflow: scroll;
  }
  .yellow {
    border: 3px solid var(--secondary);
    position: absolute;
    height: 450px;
    width: 600px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  main {
    max-width: 1500px;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    section {
      height: 500px;
    }

    .yellow {
      height: 280px;
      width: 360px;
      top: 64%;
      left: 50%;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
</style>
