---
import GalleryBox from "../components/GalleryBox.astro";
import SiteHeader from "../components/SiteHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch("https://frfmfnmwnltkmnlwhciw.supabase.co/rest/v1/gallery", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyZm1mbm13bmx0a21ubHdoY2l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0MDYzNDgsImV4cCI6MTk5OTk4MjM0OH0.V3uFzN9XdkUcR0J0uVy7DJG-lYVXGe84JyIA1YqJ3VQ",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout title="Galleri">
  <div class="yellowcontainer">
    <div class="yellow"></div>
  </div>

  <div class="container">
    {
      data.map((show) => {
        return <GalleryBox data={show} />;
      })
    }
  </div>
</MainLayout>

<style>
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 670px;
    margin-bottom: 5rem;
    position: relative;
  }

  .yellowcontainer {
    display: flex;
    justify-content: center;
  }
  .yellow {
    border: 3px solid var(--secondary);
    margin-top: 6rem;
    width: 630px;
    height: 470px;
    position: absolute;

    /* position: absolute;
    left: 50%;
    top: 70%;
    height: 480px;
    width: 640px;
    transform: translate(-50%, -50%);
    z-index: -1; */
  }

  @media only screen and (max-width: 800px) {
    .yellow {
      margin-top: 4.5rem;
      width: 400px;
      height: 330px;
    }
    .container {
      height: 451px;
      margin-bottom: 3.5rem;
    }
  }
</style>
