---
// import IndexGallery from "../components/IndexGallery.astro";
// import IndexAboutSection from "../components/IndexAboutSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h2>About</h2>
</MainLayout>
