<div class="squarecontainer">
  <div class="square"></div>
  <div class="videocontainer">
    <iframe
      class="video"
      src="https://www.youtube-nocookie.com/embed/JOvplENMcfc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>

<style>
  .video {
    width: 400px;
    height: 250px;
  }

  .squarecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
    margin-bottom: 4rem;
  }

  .square {
    width: 300px;
    height: 320px;
    border: 3px solid var(--secondary);
  }

  .videocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    z-index: 1;
  }

  @media (min-width: 800px) {
    .video {
      width: 768px;
      height: 432px;
    }
    .videocontainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 768px;
      height: 432px;
      z-index: 1;
    }

    .square {
      width: 610px;
      height: 540px;
      border: 3px solid var(--secondary);
    }
    .squarecontainer {
      margin-bottom: 12rem;
    }
  }
</style>
