<div class="aboutcontactinfo">
  <div class="squarecontainer3">
    <div class="square3"></div>
    <div class="titles">
      <h1 class="title">TELEFON</h1>
      <h2 class="undertitle">+45 60144420</h2>
      <h1 class="title">MAIL</h1>
      <h2 class="undertitle">nanna.malumgon.andersen@gmail.com</h2>
      <h1 class="title">ADRESSE</h1>
      <h2 class="undertitle">Forhandler Kræss: Blågårdsgade 17A, 2200 København</h2>
    </div>
  </div>
</div>

<style>
  .aboutcontactinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50vh;
    position: relative;
    margin-top: 20rem;
  }

  .squarecontainer3 {
    position: relative;
    margin-bottom: 5rem;
  }

  .square3 {
    width: 280px;
    height: 450px;
    border: 3px solid var(--secondary);
    position: relative;
    margin-left: 40px;
  }

  .title {
    margin-top: 20px; /* Adjust margin as desired */
    text-align: left; /* Align titles to the left */
  }

  .undertitle {
    margin-bottom: 20px; /* Adjust margin as desired */
    text-align: left; /* Align undertitles to the left */
  }

  .titles {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align titles to the left */
  }

  main {
    max-width: 1500px;
  }

  @media (min-width: 800px) {
    .aboutcontactinfo {
      align-items: center;
      margin-top: 2rem;
    }
  }
</style>
