---
import AboutContactInfo from "../components/AboutContactInfo.astro";
---

<div class="container">
  <div class="aboutsection">
    <div class="text-container">
      <h1>NANNA MALUMGON ANDERSEN</h1>
      <p>
        Falang Noi - something I have often been called during my upbringing, means "The Little Stranger" in Thai. It's something that I have often felt like, both in Denmark where I was born and in Thailand where my mother comes from. When I was
        younger, I struggled to make sense of two such different cultures and saw it more as a disadvantage than an advantage.
      </p>
      <br />
      <p>
        As I have grown older and gained a deeper understanding of where I come from - especially my roots in Thailand, my perspective has changed. Now, most of my inspiration comes from a combination of precisely this, "the best of both worlds." I
        try to show this dual meaning of "something foreign" through my works. Here, I blend Thailand's colors and many impressions with Denmark's minimalism and city life. These contrasts result in artworks that are not perfect but tell good
        stories.
        <br />
        <br />
        <a class="link" href="/gallery.html">VIEW THE GALLERY</a>
      </p>
    </div>
  </div>

  <div class="aboutsectioncontainer">
    <AboutContactInfo />
    <!-- <div class="squarecontainer2">
    <div class="image-container">
      <img src="../img/falang-noi-marken.webp" alt="Photo" />
    </div>
    <div class="square2"></div> -->
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
  }

  .squarecontainer2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  .square2 {
    width: 350px;
    height: 300px;
    border: 3px solid var(--secondary);
  }

  /* aboutsection */
  .aboutsectioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2rem;
    padding-top: 100px;
    align-items: flex-start;
    /* height: 65vh; */
    position: relative;
  }

  .aboutsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
  }

  .text-container {
    text-align: center;
    padding-top: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text-container h1 {
    padding-bottom: 1rem;
    font-size: 10vw;
    line-height: 8vw;
  }

  p {
    text-align: left; /* Align the text to the left */
    margin-top: 2rem; /* Adjust the margin as needed */
    max-width: 65ch;
    margin: 0 auto; /* Center the paragraph horizontally if needed */
  }

  h1 {
    text-align: left; /* Align the text to the left */
  }

  @media (min-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .text-container h1 {
      padding-bottom: 1rem;
      font-size: 4rem;
      line-height: 3.5rem;
    }

    h1 {
      text-align: left; /* Align the text to the left */
    }
    p {
      text-align: left; /* Align the text to the left */
      margin-top: 2rem; /* Adjust the margin as needed */
      max-width: 65ch;
      margin: 0 auto; /* Center the paragraph horizontally if needed */
    }
    .aboutsectioncontainer {
      /* margin-top: 5rem; */
      /* flex-direction: row; */
      /* justify-content: space-evenly; Updated to create even space on both sides */
      align-items: flex-start;
      padding-right: 5rem;
      justify-content: center;
      align-items: center;
    }

    .square2 {
      width: 450px;
      height: 400px;
    }

    .aboutsection {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .text-container {
      text-align: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    /* img {
      width: 80%;
      margin-top: 0;
    } */
  }
</style>
