<footer>
  <div class="line"></div>
  <nav>
    <div class="icons">
      <ul class="ulicons">
        <li><a href="https://www.instagram.com/falang.noi/?hl=da" class="fa-brands fa-instagram"></a></li>
        <li><a href="#" class="fa-brands fa-facebook-f"></a></li>
        <li><i class="fa-brands fa-tiktok"></i></li>
      </ul>
    </div>
    <div><span class="text">ⓒ NANNA MALUMGON</span></div>
    <div><a class="link" href="https://kraess.dk/designer/falang-noi/">AVAILABLE AT KRÆSS</a></div>
  </nav>

  <style>
    a.link {
      font-size: 0.6rem;
      text-decoration: underline;
      font-weight: 300;
    }

    footer {
      margin-top: 5rem;
      padding-bottom: 3rem;
    }

    nav {
      display: flex;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 30px;
    }

    a {
      text-decoration: none;
      color: var(--primary);
      font-family: "ivyepic", sans-serif;
      font-weight: 600;
      font-style: normal;
    }

    .icons ul {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      list-style: none;
    }

    .fa-brands {
      font-size: 1rem;
    }
    .fa-instagram {
      color: var(--primary);
    }
    .fa-facebook-f {
      color: var(--primary);
    }

    .fa-tiktok {
      color: var(--primary);
    }

    .line {
      background-color: var(--primary);
      height: 2px;
      margin-left: 40px;
      margin-right: 40px;
      padding: 0 20px;
    }

    .text {
      color: var(--primary);
      font-family: mr-eaves-sans, sans-serif;
      color: var(--primary);
      font-weight: 300;
      font-style: normal;
      font-size: 0.7rem;
    }

    @media (min-width: 800px) {
      footer {
        margin-top: 10rem;
        padding-bottom: 3rem;
      }

      nav {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
      }
      .icons ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
      }

      .fa-brands {
        font-size: 1rem;
      }
      .fa-instagram {
        color: var(--primary);
      }
      .fa-facebook-f {
        color: var(--primary);
      }

      .fa-tiktok {
        color: var(--primary);
      }

      .text {
        color: var(--primary);
        font-family: mr-eaves-sans, sans-serif;
        color: var(--primary);
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
      }
      a.link {
        font-size: 0.8rem;
      }
    }
  </style>
</footer>
