<footer>
  <div class="line"></div>
  <nav>
    <span class="text">ⓒ NANNA MALUMGON</span>
    <span class="button"><button>DA</button></span>
  </nav>
</footer>

<style>
  .line {
    background-color: var(--primary);
    height: 2px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0 20px;
  }

  .text {
    color: var(--primary);
  }

  nav {
    margin: 30px;
    text-align: center;
  }

  .button {
  }
</style>
