---
const { data } = Astro.props;
console.log(data);
---

<section class="galleryBox">
  <h2 class="title">{data.title}</h2>
  <div class="imgBox">
    <img class="imgHover" src={"img/gallery/" + data.image} alt="Falang Noi Galleri" />
    <div class="hide">
      <p class="description">{data.description}</p>
    </div>
  </div>
</section>

<style>
  /* .galleryBox:nth-child {
  } Hiver fat i hvert enkelt*/

  section {
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
  }
  .galleryBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px; /*Udligne at den er blevet rykket med H2 */
  }

  .imgBox {
    position: relative;
  }
  .hide {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: none;
  }

  .description {
    width: 370px; /*Hvor "bred" teksten er p책 siden, skal rettes efter media-query" */
  }

  .imgBox:hover .hide {
    display: block;
    opacity: 1;
  }

  .imgHover:hover {
    opacity: 20%;
    transition: opacity 0.2s ease-in-out;
  }

  img {
    width: 470px;
    height: auto;
  }
  .title {
    padding-top: 105px;
    padding-right: 8px;
    writing-mode: vertical-rl; /* Rotates the text vertically in the opposite direction */
    text-orientation: mixed; /* Sets the orientation of the text */
    white-space: nowrap; /* Prevents the text from wrapping */
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    img {
      width: 270px;
    }
    .title {
      padding-top: 90px;
      font-size: large;
    }
    .description {
      font-size: x-small;
      width: 200px; /*Hvor "bred" teksten er p책 siden, skal rettes efter media quer" */
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  /* @media only screen and (min-width: 768px) {
    img {
      width: 500px;
    }
    .title {
      padding-top: 240px;
    }
    .description {
      width: 200px; /*Hvor "bred" teksten er p책 siden, skal rettes efter media quer" */
    }
  } */

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
</style>

<script>
  // Hover effekt p책 billede/img samt tekst/description
  const imgHover = document.querySelector(".imgHover");
  const description = document.querySelector(".description");

  function handleHover() {
    imgHover.style.opacity = "20%";
    console.log(handleHover);
  }

  function handleMouseOut() {
    imgHover.style.opacity = "100%";
    console.log(handleMouseOut);
  }

  imgHover.addEventListener("mouseover", handleHover);
  imgHover.addEventListener("mouseout", handleMouseOut);
  description.addEventListener("mouseover", handleHover);
  description.addEventListener("mouseout", handleMouseOut);

  // Slideshow :'((
</script>
