---
const { data } = Astro.props;
console.log(data);
---

<section class="galleryBox">
  <h2 class="title">{data.title}</h2>
  <div class="imgBox">
    <img class="imgHover" src={"img/gallery/" + data.image} alt="Falang Noi Galleri" />
    <div class="hide">
      <p class="description">{data.description}</p>
    </div>
  </div>
</section>

<style>
  .galleryBox:nth-child(0) {
  }
  .galleryBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px; /*Udligne at den er blevet rykket med H2 */
  }

  .imgBox {
    position: relative;
  }
  .hide {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: none;
  }

  .imgBox:hover .hide {
    display: block;
    opacity: 1;
  }

  .imgHover:hover {
    opacity: 20%;
    transition: opacity 0.2s ease-in-out;
  }

  img {
    width: 470px;
    height: auto;
  }
  .title {
    padding-top: 150px;
    padding-right: 8px;
    writing-mode: vertical-rl; /* Rotates the text vertically in the opposite direction */
    text-orientation: mixed; /* Sets the orientation of the text */
    white-space: nowrap; /* Prevents the text from wrapping */
  }
</style>

<script>
  // Hover effekt på billede/img samt tekst/description
  const imgHover = document.querySelector(".imgHover");
  const description = document.querySelector(".description");

  function handleHover() {
    imgHover.style.opacity = "20%";
    console.log(handleHover);
  }

  function handleMouseOut() {
    imgHover.style.opacity = "100%";
    console.log(handleMouseOut);
  }

  imgHover.addEventListener("mouseover", handleHover);
  imgHover.addEventListener("mouseout", handleMouseOut);
  description.addEventListener("mouseover", handleHover);
  description.addEventListener("mouseout", handleMouseOut);

  // Slideshow :'((

  const slideshow = document.querySelector(".galleryBox:nth-child()");

  function slideShow() {
    slideshow.addEventListener("click");
  }
</script>
