<header>
  <nav>
    <div class="icons">
      <ul class="ulicons">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
      </ul>
    </div>

    <div>
      <div class="min-nav">
        <ul>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  li {
    list-style-type: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin: 2rem;
  }

  a {
    text-decoration: none;
  }

  .minnav ul {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .icons ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 800px) {
  }
</style>
