<nav>
  <ul class="burgermenu">
    <li><a href="#">Gallery</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <ul>
    <li><a href="#" class="fa fa-facebook"></a></li>
    <li><a href="#" class="fa fa-instagram"></a></li>
  </ul>
</nav>

<style>
  li {
  }
  ul {
    list-style-type: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin: 2rem;
  }

  a {
    text-decoration: none;
  }
</style>
