---
// import { getUser } from "./indexgallery.js";
---

<section>
  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
      <img src="public/img/indexgallery/" alt="img" draggable="false" />
      <img src="public/img/dummy1.webp" alt="img" draggable="false" />
      <img src="public/img/dummy1.webp" alt="img" draggable="false" />
      <img src="public/img/dummy1.webp" alt="img" draggable="false" />
      <img src="public/img/dummy1.webp" alt="img" draggable="false" />
      <img src="public/img/dummy1.webp" alt="img" draggable="false" />
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
</section>

<style>
  * {
    --primary: #ff2f01;
    --secondary: #dbff01;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "ivyepic", sans-serif;
  }

  section {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dbff01;
  }

  .wrapper {
    max-width: 1200px;
    position: relative;
  }

  .wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    color: #ff2f01;
    text-align: center;
    line-height: 46px;
    font-size: 2rem;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .wrapper i:first-child {
    left: -50px;
    display: none;
  }

  .wrapper i:last-child {
    right: -50px;
  }

  .wrapper .carousel {
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
  }

  .carousel img:first-child {
    margin-left: 0px;
  }

  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }

  .carousel.dragging img {
    pointer-events: none;
  }

  @media screen and (max-width: 900px) {
    .carousel img {
      width: calc(100% / 2);
    }
  }

  @media screen and (max-width: 550px) {
    .carousel img {
      width: 100%;
    }
  }
</style>
