<article>
  <div class="yellow-box">
    <img src="public/img/nanna-test.webp" alt="#" />

    <style>
      article {
        padding: 10rem;
        margin-top: 10rem;
        display: flex;
        justify-content: center;
      }
      .yellow-box {
        width: 450px;
        height: 300px;
        border: 4px solid #dbff01;
      }

      img {
        position: relative;
        top: -90px;
        left: -120px;
        width: auto;
        height: 250px;
      }
    </style>
  </div>
</article>
