<div class="indexheading">
  <div style="font-size:10vw;" class="heading1"><h1>FALANG</h1><h3 class="heading3">ฝรั่งน้อย</h3></div>
  <div style="font-size:10vw; line-height: 20vw" class="heading2"><h1>NOI</h1></div>
  <!-- <div class="heading3"><h3>ฝรั่งน้อย</h3></div> -->
</div>

<style>
  h1 {
    font-family: "ivyepic", sans-serif;
    color: var(--primary);
    font-weight: 600;
    font-style: normal;
    /* font-size: 18rem; */
    writing-mode: unset;
    text-orientation: unset;
  }

  h3 {
    font-family: "ivyepic", sans-serif;
    color: var(--secondary);
    font-weight: 200;
    font-style: normal;
    /* font-size: 3.5rem; */ */
    /* writing-mode: unset;
    text-orientation: unset; */
    font-size:3.5vw;
  }

  .indexheading {
    position: unset;
    display: flex;
    flex-direction: column;
    padding-top: 24rem;
  }

  .heading1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .heading1 h1 {
    line-height: 0;
  }

  .heading3 {
    position: unset;
    display: flex;
    flex-direction: column;
    line-height: 6vw;
    font-size:4.5vw;
    /* line-height: 40px; */
  }

  .heading2 h1 {
    position: unset;
    display: flex;
    justify-content: end;
    align-items: end;
    /* line-height: 320px; */
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-family: "ivyepic", sans-serif;
      color: var(--primary);
      font-weight: 600;
      font-style: normal;
      font-size: 8rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    h3 {
      font-family: "ivyepic", sans-serif;
      color: var(--secondary);
      font-weight: 200;
      font-style: normal;
      font-size: 3rem;
      line-height: 0;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    .indexheading {
      position: relative;
      top: -250px;
      left: 40px;
      padding-top: 0;
    }

    .heading1 {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .heading1 h1 {
      line-height: 1rem;
    }

    .heading3 {
      position: relative;
      line-height: 10rem;
      top: 18rem;
      font-size: 2rem;
      line-height: 135px;
    }

    .heading2 h1 {
      position: relative;
      top: -120px;
      left: 40px;
      padding-top: 0rem;
      line-height: 150px;
    }
  }
</style>
