<article>
  <div class="container">
    <div class="first">
      <img class="img" src="public/img/nanna/nanna-test.webp" alt="#" />
      <div class="h2col">
        <h2>NANNA</h2>
        <h2>MALUMGON</h2>
        <h2>ANDERSEN</h2>
      </div>
    </div>
    <div class="second">
      <div class="yellow-box">
        <p class="text">
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
</article>

<style>

  article {
    padding-top: 7rem;
    margin-bottom: -5rem;
  }

  @media only screen and (max-width: 500px) {
    h2 {
    color: var(--primary);
    font-weight: 600;
    font-style: normal;
    font-size: 5vh;
    position: relative;
    left: 0;
    top: -70px;
    line-height: 2.5rem;
    }
    article {
    margin-top: 9rem;
    }

    article {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .h2col {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    padding-right: 60px;
    }
    
    .first {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column-reverse;
    }

    .first h2 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    }

    .second {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
    }

    .text {
    margin-left: 1rem;
    margin-right: 1rem;
        /* font-size: 1.1rem; */
    }

    .yellow-box {
    width: 80vw;
    height: 50vh;
    border: 4px solid #dbff01;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .img {
    top: -70px;
    left: 0;
    position: relative;
    width: auto;
    height: 60vw;
    z-index: 1;
  }
}

    @media only screen and (min-width: 500px) {
      h2 {
        color: var(--primary);
        font-weight: 600;
        font-style: normal;
        /* font-size: 3rem; */
        font-size: 6vw;
        position: relative;
        left: 1vw;
        top: -3vw;
        line-height:5vw;
      }
      article {
        margin-top: 10rem;
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        /* gap: 3rem; */
        flex-direction: column;
      }

      .h2col {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      .first {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      .first h2 {
        display: flex;
        justify-content: start;
        align-items: start;
      }

      .second {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -125px;
        /* top: -190px;
        left: 0; */
      }

      .text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.2rem;
      }

      .yellow-box {
        width: 60vw;
        height: 40vh;
        border: 4px solid #dbff01;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        top: -100px;
        left: 0;
        position: relative;
        width: auto;
        height: 45vw;
        z-index: 1;
      }
      /* h2 {
        color: var(--primary);
        font-weight: 600;
        font-style: normal;
        font-size: 8vw;
        position: relative;
        left: -20vw;
        top: -100px; */
        /* line-height: 2.5rem; */
      /* } */
      /* article {
        padding: 2rem;
        margin-top: 9rem;
      }
/*  */
      /* article {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .h2col {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      .first {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        flex-direction: column-reverse;
      } */ */
/* 
      .first h2 {
        display: flex;
        justify-content: flex-end;
        align-items: end;
      }

      .second {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -150px;
      }

      .text {
        margin-left: 1rem;
        margin-right: 1rem; */
        /* font-size: 1.1rem; */
      }
/* 
      .yellow-box {
        width: 70vw;
        height: 20rem;
        border: 4px solid #dbff01;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      img {
        top: -100px;
        left: 0;
        position: relative;
        width: auto;
        height: 250px;
        z-index: 1;
      }
    } */

    @media only screen and (min-width: 700px) {
      h2 {
        color: var(--primary);
        font-weight: 600;
        font-style: normal;
        /* font-size: 3rem; */
        font-size: 5.2vw;
        position: relative;
        left: 1vh;
        top: 1vw;
        line-height: 5vw;
      }
      article {
        margin-top: 10rem;
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        /* gap: 3rem; */
        flex-direction: column;
      }

      .h2col {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      .first {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      .first h2 {
        display: flex;
        justify-content: start;
        align-items: start;
      }

      .second {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -125px;
        /* top: -190px;
        left: 0; */
      }

      .text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.2rem;
      }

      .yellow-box {
        width: 48vw;
        height: 35vh;
        border: 4px solid #dbff01;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        top: -100px;
        left: 0;
        position: relative;
        width: auto;
        height: 35vw;
        z-index: 1;
      }
    }

    @media only screen and (min-width: 800px) {
      h2 {
        color: var(--primary);
        font-weight: 600;
        font-style: normal;
        /* font-size: 4.3rem; */
        font-size: 4.5vw;
        position: relative;
        left: -2vw;
        top: 8vw;
        line-height: 4vw;
      }
      article {
        margin-top: 10rem;
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        /* gap: 3rem; */
        flex-direction: column;
      }

      .h2col {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      .first {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      .first h2 {
        display: flex;
        justify-content: start;
        align-items: start;
      }

      .second {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -160px;
        /* top: -190px;
        left: 0; */
      }

      .text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 2.3vh;
      }

      .yellow-box {
        width: 60vw;
        height: 35vh;
        border: 4px solid #dbff01;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        top: -100px;
        left: -25px;
        position: relative;
        width: auto;
        height: 330px;
        z-index: 1;
      }
    }

    @media only screen and (min-width: 900px) {
      h2 {
        color: var(--primary);
        font-weight: 600;
        font-style: normal;
        /* font-size: 8vh; */
        font-size: 5.5vw;
        position: relative;
        left: -5vw;
        top: 20px;
        line-height: 4.5vw;
      }
      article {
        margin-top: 10rem;
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-direction: column;
      }

      .h2col {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      .first {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      .first h2 {
        display: flex;
        justify-content: start;
        align-items: start;
      }

      .second {
        position: relative;
        top: -18vw;
        left: 40px;
      }

      .text {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.2rem;
      }

      .yellow-box {
        width: 48vw;
        height: 35vh;
        border: 4px solid #dbff01;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        top: -10vw;
        left: -80px;
        position: relative;
        width: autos;
        height: 30vw;
        z-index: 1;
      }
    }

    .yellow-box {
      /* width: 35rem;
      height: 18rem; */
      border: 4px solid #dbff01;
      display: flex;
      justify-content: center;
      align-items: center;
    }
</style>

