---
import Footer from "../components/Footer.astro";
import "../styles/style.css";
import "../scripts/Indexgallery.js";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-falangnoi.svg" />
    <meta
      name="description"
      content="This website is a portfolio and gallery site for the artist Nanna Malumgon, who is half danish and half thai. She paints bright and colourful pictures and posters with motives from her life and experiences in Denmark, Copenhagen and Thailand."
    />
    <link rel="stylesheet" href="https://use.typekit.net/onl5kxo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="../scripts/Indexgallery.js" defer></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 1500px;
    overflow: hidden;
  }
</style>
